.form-table td{
    font-size: 11px !important;

}
#wpcontent #wp-toolbar .menupop a,#wpcontent #wp-toolbar .menupop a .ab-label {
    font-family: tahoma !important;
}
#dashboard_right_now .versions .b, #post-status-display, #post-visibility-display, #adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover, .media-item .percent, .plugins .name, #pass-strength-result.strong, #pass-strength-result.short, #ed_reply_toolbar #ed_reply_strong, .item-controls .item-order a, .feature-filter .feature-name{
    font-weight: normal !important
} 

#Jaa, #Jhh, #Jjj, #Jmn {
    font-size: 12px;
    padding: 1px;
}
#Jhh, #Jjj, #Jmn {
    width: 2em;
}
#Jaa {
    width: 3.4em;
}

.inax_option_logo {
  margin: 20px 0;
  text-align: center;
}
.inax-badge {
  background: url("../images/inax-80x80.png") no-repeat scroll center 24px / 80px 80px #fff !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #78c8e6;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  margin: 5px 0 0;
  padding-top: 120px;
  text-align: center;
  text-rendering: optimizelegibility;
  width: 150px;
  left: 0;
  position: absolute;
  top: 0;
}
.sng-badge {
  background: url("../images/inax.ir.png") no-repeat scroll center 24px / 80px 80px #fff !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #78c8e6;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  margin: 5px 0 0;
  padding-top: 120px;
  text-align: center;
  text-rendering: optimizelegibility;
  width: 150px;
  left: 160px;
  position: absolute;
  top: 0;
}
.inax-welcome-top{
  margin: 1em 0 1em 350px !important;
}
/*#toplevel_page_inax_admin_page .wp-menu-name {
  position: fixed !important;
}*/